# Practical Questions with Solutions

### 1. Write a code to create a string with your name and print it.

In [ ]:
name = 'Pankaj'
print(name)

### 2. Write a code to find the length of the string 'Hello World'.

In [ ]:
string = 'Hello World'
print(len(string))

### 3. Write a code to slice the first 3 characters from the string 'Python Programming'.

In [ ]:
s = 'Python Programming'
print(s[:3])

### 4. Write a code to convert the string 'hello' to uppercase.

In [ ]:
s = 'hello'
print(s.upper())

### 5. Write a code to replace the word 'apple' with 'orange' in the string 'I like apple'.

In [ ]:
s = 'I like apple'
print(s.replace('apple', 'orange'))

### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)